.pictures
{
  border: width 25px;
  width: 50%;

  background-color: antiquewhite;
  border: white 5px;
  margin-left: 25%;
  color: black;
  text-align: center;
}

*
{
    background-color: antiquewhite;
}

img
{
    height: 50%;
    width: 50%;
    border: 5px solid white;
    margin-left: 25%;
}

.a:hover
{
  content: url(./10.jpg);
}



